body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}
p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.logo {
    color:#4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav_main {
    color: #2E2F42;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;
}

.nav_main a:hover {
    color: #404bbf;
}

.nav_main a:focus {
    color: #404bbf;
}

address {
    font-style: normal;    
}
.contacts {
    color:#434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;
}

.contacts a:hover {
    color: #404bbf;
}

.contacts a:focus {
    color: #404bbf;
}
.hero {
    background-color: #2E2F42;
}

.hero .header_hero {
    color:#FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
}

.button {
    color:#FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
}

.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
.do {
    background-color: #FFFFFF;
}
._header_do {
    font-family: "Roboto", sans-serif;
    color:#2E2F42;
    font-weight: 500;
    font-size: 20px;    
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text_do {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.team {
    background-color: #F4F4FD;
}

.header_TEAM {
    font-family: "Roboto", sans-serif;
    color:#2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
}

.header_team {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #2e2f42;
    background-color: #FFFFFF;
    font-size: 20px;    
    line-height: 24px;
    letter-spacing: 0.4px;
    text-align: center;
}

.text_team {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-align: center;
}

._header_portfolio{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
}

.header_portfolio {
    font-weight: 500;
    color: #2e2f42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.text_portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

ul {
    list-style-type: none;
}

.footer {
    color:#F4F4FD;
    background-color: #2E2F42;
}
.text_footer {
    font-family: "Roboto", sans-serif;
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}